name: Release
on:
  repository_dispatch:
    types: [jina-release-event]

jobs:
  releaseJob:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Checkout to Jina core
        uses: actions/checkout@v2
        with:
          repository: jina-ai/jina
          token: ${{ secrets.JINA_DEV_BOT }}
      - name: Install released Jina version
        run: |
          pip install .  --no-cache-dir
          JINA_VERSION=$(sed -n '/^__version__/p' ./jina/__init__.py | cut -d \' -f2)-master
          NEXT_RELEASE_VER=$(sed -n '/^__version__/p' ./jina/__init__.py | cut -d \' -f2)
          RELEASE_VER=$(curl -sL https://api.github.com/repos/jina-ai/jina/releases/latest | grep '"tag_name":' | cut -d'"' -f4)
          echo "JINA_VERSION=${JINA_VERSION}" >> $GITHUB_ENV
          echo "RELEASE_VER=${RELEASE_VER}" >> $GITHUB_ENV
          echo "NEXT_RELEASE_VER=${NEXT_RELEASE_VER}" >> $GITHUB_ENV
      - name: Checkout to docs repo
        uses: actions/checkout@v2
      - name: Build docs
        run: |
          bash .github/scripts/make-doc.sh release "release ${{env.JINA_VERSION}} of ${{github.repository}}"
      - name: Commit documentation changes to gh-pages
        run: |
          git clone https://github.com/jina-ai/docs.git --branch gh-pages --single-branch gh-pages
          cp -r _build/dirhtml/* gh-pages/
          cd gh-pages
          git config --local user.email "dev-bot@jina.ai"
          git config --local user.name "Jina Dev Bot"
          git add .
          git commit -m "update ${{env.JINA_VERSION}} on ${{github.repository}}" -a || true
      - name: Push changes to gh-pages
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.JINA_DEV_BOT }}
          force: true
  postReleaseJob:
    needs: releaseJob
    runs-on: ubuntu-latest
    steps:
      - name: Update CHANGELOG, RELEASE, versions
        run: |
          wget https://raw.githubusercontent.com/jina-ai/jina/master/CONTRIBUTING.md -P ./chapters/
          wget https://raw.githubusercontent.com/jina-ai/jina/master/RELEASE.md -P ./chapters/
          wget https://raw.githubusercontent.com/jina-ai/jina/master/CHANGELOG.md -P ./chapters/
          echo -e ${{env.RELEASE_VER}} >> versions
          git config --local user.email "dev-bot@jina.ai"
          git config --local user.name "Jina Dev Bot"
          git add .
          git commit -m "update ${{env.JINA_VERSION}} on ${{github.repository}}" -a || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.JINA_DEV_BOT }}
          branch: docs-post-release
          delete-branch: true
          title: 'docs: post release updates'
          body: |
            Update docs
            - Update versions with latest release version
            - Update RELEASE.md, CHANGELOG.md, CONTRIBUTING.md
          draft: false

